.header, .django.button {
  background-color: #092e20;
}

.header a, .header a:hover, .django.button, .django.button:hover {
  color: #ffffff;
}

a, a:hover {
  color: #234f32;
}

#languages-nav li.active {
  border-right: solid 1px #234f32;
}
