html, body {
  height: 100%;
}

.header {
  padding: 5px;
}

.header a {
  text-decoration: none;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.main-content {
  margin-top: 50px;
}

#languages-nav {
  background-color: #F8F8F8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow: #FFF 0px 1px 0px;
}

#languages-nav {
  width: 220px;
}

#languages-nav a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#languages-nav a:hover {
  text-decoration: none;
}

#languages-nav li {
  padding: 5px 20px;
}
#languages-nav li:hover {
  background-color: #F5F5F5;
  border-right: solid 1px #D1D1D1;
}

#languages-nav li.active {
  border-right: solid 1px red;
}

#push, .footer {
  height: 60px;
}

.footer {
  background-color: #f5f5f5;
}

.footer p {
  padding-top: 20px;
}

@media (max-width: 767px) {
  #languages-nav {
    width: 700px;
    position: static;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #languages-nav {
    width: 166px;
  }
}

@media (max-width: 767px) {
  #languages-nav {
    width: 100%;
    position: static;
  }
}
