.header, .header .ruby.button {
  background-color: #ef5139;
}

.header a, .header a:hover, .header .ruby.button {
  color: #7a2300;
}

a, a:hover {
  color: #ef5139;
}

#languages-nav li.active {
  border-right: solid 1px #7a2300;
}
