.header {
  padding: 50px;
  background-color: #FCFCFC;
}

.header h1 {
  font-size: 50px;
  margin-bottom: 45px;
}

.header a, .header a:hover {
  color: #225060;
}

.footer {
  background-color: #225060;
}

.footer a, .footer a:hover {
  color: #FCFCFC;
}

.footer {
  color: #79BED4;
}

.header {
  background-color: #FCFCFC;
}

a, a:hover {
  color: #225060;
}

.header .tagline {
  font-size: 20px;
  color: #2E7186;
}

.topics .button {
  font-size: 25px;
  padding: 14px;
  margin: 10px 20px 0px 0px;
  display: inline-block;
  border-radius: 6px;
}

.topics{
  color: #222222;
}

.topics a, .topics a:hover {
  text-decoration: none;
}
