---
layout: home
---

<header class="header">
  <div class="container">
    <h1 class="title"><a href="/">{?} {{ site.name }}</a></h1>
    <p class="tagline">Compendium of resources for beginning programmers</p>
  </div>
</header>
<div class="container topics">
  {% for topic in site.topics %}
      {% if topic.list %}
        <h3>{{ topic.name }}</h3>
        <p>
        {% for item in topic.list %}
            <a class="{{ item }} button" href="/{{ item }}">
              {<span class="icon-{{ topic.icon }}-{{ item }}"></span>}
              {{ item }}
            </a>
        {% endfor %}
        </p>
      {% endif %}
    {% endfor %}
</div>